###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your-secret-key-here-change-it-in-production
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format either as "postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"
# or "postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?serverVersion=16&charset=utf8"
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
DATABASE_URL="postgresql://symfony_user:symfony_password@postgres:5432/symfony_db?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=null://null
MAILER_DSN=smtp://mailhog:1025
###< symfony/mailer ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
###< symfony/messenger ### 